<section id="bloc_contreparties">

	<p class="style_select">Sélectionnez votre contrepartie</p>
	
	{% for reward in project.rewards %}
	
		<a class="blocReward {% if (rewardId is defined) and (rewardId == reward.id) %}selected{% endif %}" id="lien_reward_{{ reward.id }}" {% if linking %} href="{{ path('project_confirmation', {'id': reward.id}) }}" {% endif%} >
			<div class="titre_reward">
				<p class="poplight titreReward">
					Pour {{ reward.cost }}€
					{% if reward.limit %}
						{% set rewards_dispos = reward.limit - reward.userRewards|length %}
						
						{% if rewards_dispos > 0 %}
							<span style="font-size:0.8em"> 
								({{ rewards_dispos }} restant{% if rewards_dispos > 1 %}s{% endif %})
							</span>
						{% else %}
							<span style="font-size:0.8em"> 
								(épuisé{% if rewards_dispos > 1 %}s{% endif %})
							</span>						
						{% endif %}
					{% endif %}
				</p>
				<p class="icon_coeur"></p>
				<p class="edinautesReward">{{ reward.userRewards|length }}</p>
			</div>
			<div class="caracteristiques_reward">
				<span class="title">{{ reward.title }}</span> - {{ reward.description|raw }}
			</div>
		</a>
	{% endfor %}

	<div class="spacer"></div>
</section>

<script>
	$(document).ready(function()
	{
		$('#bloc_contreparties a.blocReward').click(function()
		{
			$('#bloc_contreparties a.blocReward').removeClass("selected");
			$(this).addClass("selected");
		});
	});

</script>