{% extends "WittyProjectBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittyproject/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

<div id="container">

	<div class="blocTitrePage">
    	<p class="titrePage titrePage_projet">{{ reward.project.title }}</p>
        <p class="descriptionPage descriptionPage_projet">{{ reward.project.shortDescription }}</p>
    </div>
		
	<div id="blocContenuConfirmation">

		<section class="item">
			
			<p class="titreMerci">{{ app.user.label }}, merci de soutenir {{ reward.project.title }}.</p>
			<br/>
			<p class="titreRecap">Récapitulatif :</p>
			<p class="texteRecap">( vous pouvez à tout moment changer de contrepartie dans la colonne de droite )</p>
			<br/>
			
			<div id="blocRecap">
				{% render "WittyProjectBundle:Project:blocRecapReward" with {'rewardId': reward.id} %}
			</div>
		
		<div class="spacer"></div>	
		</section>
		
		{% render "WittyProjectBundle:Project:blocRewards" with {'project': reward.project, 'linking': false, 'rewardId': reward.id} %}

		<div class="spacer"></div>
	</div>

</div>


{% endblock %}

{% block javascripts %}
	
	<script>
	
		$(document).ready(function()
		{
			calculTotaux();
		
			//Gestion des checkboxes
			$('input[type="checkbox"][id*="option_"]').click(function(event)
			{
				calculTotaux();
			});
			
			$('#bloc_contreparties a.blocReward').click(function(event)
			{
				var rewardId = parseInt($(this).attr('id').substring('lien_reward_'.length, $(this).attr('id').length));
				$.get("{{ path('project_blocRecapReward', {'rewardId': null}) }}"+"/"+rewardId, function(data)
					{
						$('#blocRecap').html(data);
						calculTotaux();
						$('input[type="checkbox"][id*="option_"]').click(function(event) //Attache des handlers
						{
							calculTotaux();
						});
					}
				);
			});
			
		});
	
	
		function calculTotaux()
		{
			var total_reward = parseInt($('#reward_value').attr('value'));
			
			//Calcul du total des options
			var total_options = 0;
			
			var options_ids = ""; //Pour contruire le champ custom		
			$('input[type="checkbox"][id*="option_"]:checked').each(function(key, value)
			{
				total_options += parseInt($('input[type="hidden"][id*="option_value_'+$(this).attr("value")+'"]').attr("value"));
				if (options_ids == "")
				{
					options_ids += $(this).attr("value"); 
				}
				else
				{
					options_ids += ','+$(this).attr("value");
				}
				
			});
			if (options_ids != "") { options_ids = "&opt="+options_ids; }
			
			//Mise à jour des totaux
			var credit_recuperable = {{ app.user.getCreditRecuperable(reward.project.id) }};
			var sous_total_1 = total_reward + total_options;
			var credit_utilise = Math.min(sous_total_1 - credit_recuperable, {{ app.user.credit }}); // Calcul du crédit utilisé
			var credit_restant = {{ app.user.credit }} - credit_utilise; 
			var sous_total_2 = sous_total_1 - credit_utilise - credit_recuperable;
			var paypal_fees = Math.ceil( (sous_total_2 * {{ witty_paypal_fees }}).toPrecision(3) * 100) / 100; //On prend 2 décimales, arrondies au supérieur
			var total = sous_total_2 + paypal_fees;

			$('#total_reward').html(total_reward);
			$('#total_options').html('+ '+total_options);
			$('#credit_recuperable').html('- '+credit_recuperable);
			if ({{ app.user.credit }} != 0) //Si l'utilisateur a du crédit
			{
				$('#credit_utilise').html('- '+credit_utilise);
				$('#credit_restant').html(credit_restant);
			}
			$('#sous_total').html(sous_total_2);
			$('#frais_gestion').html('+ '+paypal_fees);
			$('#total').html(total);
			
			//Mise à jour du formulaire
			if (total <= 0) //S'il n'y a rien à payer, on ne passe pas par Paypal
			{
				$('#confirmation_form').attr('action', "{{ path('transaction_success') }}");
				$('#confirmation_form').removeAttr('target');
			}
			else
			{	
				$('#confirmation_form').attr('action', '{{ witty_paypal_url }}');
				$('#confirmation_form').attr('target', 'paypal');
			}
			
			//Mise à jour des champs pour paypal
			$('input[type="hidden"][name="amount"]').attr('value', total);
			$('input[type="hidden"][name="fees"]').attr('value', paypal_fees);
			$('input[type="hidden"][name="custom"]').attr('value', 'u={{ app.user.id }}&rw='+parseInt($('#reward_id').attr('value'))+options_ids); //Champ pour traiter le retour de Paypal
		}

	</script>

{% endblock %}
