{% extends "WittyProjectBundle::layout.html.twig" %}

{% block title %}My Witty Games - Récapitulatif{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittyproject/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

<div id="container">

	<div class="blocTitrePage">
    	<p class="titrePage titrePage_projet">{{ reward.project.title }}</p>
        <p class="descriptionPage descriptionPage_projet">{{ reward.project.shortDescription }}</p>
    </div>
		
	<div id="blocContenuConfirmation">

		<section class="item">
			
			<p class="titreMerci">{{ app.user.label }}, merci de soutenir {{ reward.project.title }}.</p>
			<br/>
			<p class="titreRecap">Récapitulatif :</p>
			<p class="texteRecap">( vous pouvez à tout moment changer de contrepartie dans la colonne de droite )</p>
			<br/>
			
			<div id="blocRecap">
				{% render "WittyProjectBundle:Project:blocRecapReward" with {'rewardId': reward.id} %}
			</div>
		
		<div class="spacer"></div>	
		</section>
		
		{% render "WittyProjectBundle:Project:blocRewards" with {'project': reward.project, 'linking': false, 'rewardId': reward.id} %}

		<div class="spacer"></div>
	</div>

</div>

<!-- Google Code for Page de validation de contrepartie Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 995997525;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "F280CPPtwQQQ1e722gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/995997525/?value=0&amp;label=F280CPPtwQQQ1e722gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

{% endblock %}