{% extends "WittyProjectBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittyproject/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

<div id="container">

	<div class="blocTitrePage">
    	<p class="titrePage titrePage_projet">Donner vie aux jeux</p>
        <p class="descriptionPage descriptionPage_projet">Participez au financement de jeux de société et recevez des récompenses exclusives.<br/>Si un projet n'atteint pas son objectif, vous êtes remboursé sans frais.</p>
        <p class="infosPage">Actuellement 6 jeux ont été édité grâce aux édinautes. Rejoignez-les !</p>
    </div>
    
	{% for project in projects %}
	
		<a href="{{ path('project_display', {'slug': project.slug}) }}" class="bloc_jeu">
			<div class="bloc_jeu_haut">
				<img class="img_jeu" src="{{ project.image }}" alt=""/>
				<p class="titreJeu" href="">{{ project.title }}</p>
				<p class="descriptionJeu">{{ project.shortDescription }}</p>
			</div>
			<div class="bloc_jeu_bas">
				<div class="bloc_caracteritiques">
					<img class="img_user"/>
					<p class="style_caracteritiques">{{ project.edinautes|length }}</p>
				</div>
				<div class="bloc_caracteritiques">
					<img class="img_piggy"/>
					<p class="style_caracteritiques">{{ project.funding }}</p>
				</div>
				<div class="bloc_caracteritiques">
					<img class="img_clock"/>
					<p class="style_caracteritiques">{{ project.daysLeft }}</p>
				</div>
			</div>
			
			<div class="spacer"></div>

		</a>

	{% endfor %}
    
</div>

{% endblock %}