{% stylesheets 'bundles/wittyproject/css/*.css' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}

<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>


{% for project in projects %}

	{% if ((mode_affichage == 'focus_one_project' and loop.first) or (mode_affichage == 'all_projects_big')) and (not(mode_affichage == 'all_projects_small')) %}
		{% set affichage = 'grand' %}
	{% else %}
		{% set affichage = 'petit' %}
	{% endif %}
 
 	{% if loop.first %} <img class="ruban"/> {% endif %}
	<a href="{{ path('project_display' , {'slug': project.slug} ) }}" 
		class="bloc_jeu {{affichage}}">
		<img class="img_jeu" src="{{ project.image }}" alt=""/>
		<div class="bloc_jeu_haut">
			<p class="titreJeu">{{ project.title }}</p>
			<p class="descriptionJeu">{{ project.shortDescription }}</p>
			<p class="texteJeu">{{ project.mediumDescription }}</p>
		</div>
		<div class="bloc_jeu_bas">
			<div class="bloc_caracteristiques">
				<p class="style_NBcaracteritiques">{{ project.edinautes|length }}</p>
				{% if affichage == 'grand' %}
					<p class="style_caracteristiques">édinautes<br/>soutiennent le jeu</p>
				{% endif %}
				<img class="img_user"/>
			</div>
			<div class="bloc_caracteristiques">
				<p class="style_NBcaracteritiques">{{ project.funding }}</p>
				{% if affichage == 'grand' %}
					<p class="style_caracteristiques">sur {{ project.fundingGoal|number_format(0, ',', ' ') }} €<br/>demandé</p>
				{% endif %}
				<img class="img_piggy"/>
			</div>
			<div class="bloc_caracteristiques">
				<p class="style_NBcaracteritiques">{{ project.daysLeft }}</p>
				{% if affichage == 'grand' %}					
					<p class="style_caracteristiques">jours<br/>restants</p>
				{% endif %}
				<img class="img_clock"/>
			</div>
			<div class="spacer"></div>
		</div>
		
		<div class="spacer"></div>
	</a>

{% endfor %}
