{% extends "WittyProjectBundle::layout.html.twig" %}

{% block title %} {{ project.title }} - Jeu à soutenir sur My Witty Games {% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittyproject/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

<div id="container">

	<div class="blocTitrePage">
    	<p class="titrePage titrePage_projet">{{ project.title }}</p>
        <p class="descriptionPage descriptionPage_projet">{{ project.shortDescription }}</p>
    </div>
    
 	<nav>
		<ul id="onglets">
			<li class="actif">
				Accueil
			</li>
			<li>
				News
				{% if project.news|length > 0 %}
					({{ project.news|length }})
				{% endif %}
			</li>
			<li>
				Édinautes
				{% if edinautes|length > 0 %}
					({{ edinautes|length }})
				{% endif %}
			</li> 
			<li>
				Commentaires
				{% if project.comments|length > 0 %}
					({{ project.comments|length }})
				{% endif %}
			</li>
		</ul>  
	</nav> 

    <span class="flecheMenu"></span>

    <div id="blocContenuJeu">
    
    	<section class="item">
        	{# <video class="video" src="{{ project.video }}" ></video> #}
			{{ project.description|raw }}
			
		{#<article>
            	<p class="soustitre">Description du jeu </p>
            	<p class="texte">Offre exclusive! Pour tous les édinautes qui prennent ou qui ont déjà pris des parts de Temple, un code promotionnel vous sera envoyé pour vous donner 15 euros de réduction sur Chronos!!! Vous pourrez donc recevoir chez vous Chronos pour seulement 24,90€ frais de ports inclus!

Temple est l''extension de Witty Chronos et donne une nouvelle dimension à la boîte de base.

Ajoutez encore plus de stratégie et de fun à votre maîtrise du temps !

Temple est une extension pour les joueurs avertis qui veulent repousser les limites de la mécanique du jeu.

Cette extension rajoute les 2 sabliers permettant de jouer avec un 6ème joueur pour encore plus de fun ! Retrouvez 25 nouveaux Dieux et leurs effets spéciaux originaux, ainsi que le Temple pour acquérir de nouveaux pouvoirs durant la manche! De quoi pimenter encore plus vos prochaines parties ! </p>
		</article>
		<article>
			<p class="soustitre">Description du jeu </p>
            <p class="texte">Offre exclusive! Pour tous les édinautes qui prennent ou qui ont déjà pris des parts de Temple, un code promotionnel vous sera envoyé pour vous donner 15 euros de réduction sur Chronos!!! Vous pourrez donc recevoir chez vous Chronos pour seulement 24,90€ frais de ports inclus!

Temple est l''extension de Witty Chronos et donne une nouvelle dimension à la boîte de base.

Ajoutez encore plus de stratégie et de fun à votre maîtrise du temps !

Temple est une extension pour les joueurs avertis qui veulent repousser les limites de la mécanique du jeu.

Cette extension rajoute les 2 sabliers permettant de jouer avec un 6ème joueur pour encore plus de fun ! Retrouvez 25 nouveaux Dieux et leurs effets spéciaux originaux, ainsi que le Temple pour acquérir de nouveaux pouvoirs durant la manche! De quoi pimenter encore plus vos prochaines parties ! </p>
        </article> #}
        </section>
        
        <section class="item">
			{% if project.news|length > 0 %}
				{% for news in project.news %}
					<article>
						<p class="soustitre">{{ news.title }}</p>
						<p class="texte">{{ news.content|raw }}</p>
					</article>
				{% endfor %}
			{% else %}
				<p class="texte">Il n'y a pas encore de news sur ce jeu.</p>
			{% endif %}
		</section>
        
        <section class="item">
            <p class="texte titre_edinautes">
				Voici la liste des édinautes qui soutiennent ce projet. <br/>
				{% if project.funded == 0 %}
					Vous désirez les rejoindre ? Cliquez sur le bouton "<a class="texte_bleu" href="{{ path('project_confirmation', {'id': project.rewardParDefaut.id}) }}">Soutenir ce jeu</a>" !
				{% endif %}
			</p>
			{# La bonne méthode est celle en commentaires, mais à cause d'un bug php, on doit passer par les ids des édinautes pour les récupérer. On ne peut donc pas les récupérer directement par le projet ... #}
			{# for edinaute in project.edinautes #}
			{% for edinaute in edinautes %}
				<div class="edinaute">
					{% render "WittyUserBundle:Profile:avatar" with {'id': edinaute.id } %}
					<p class="nom_edinaute">{{ edinaute.label }}</p>
					<p class="texte">a soutenu {{ edinaute.projectsFunded|length }} jeux</p>
				</div>
			{% endfor %}
        </section>
        
        <section class="item">
            <div id="commenter">
				{% if app.user %}
					<p class="texte">Publiez votre commentaire</p>
					<div id="champs_commentaire">
						<textarea class="commentaire"></textarea>
					</div>
					<a class="btn_commenter"></a>
					<div class="spacer"></div>
				{% else %}
					<p class="texte">Identifiez-vous pour laisser un commentaire.</p>
				{% endif %}
            </div>
			
			<div class="blocComments">
				{% render "WittyProjectBundle:Project:blocComments" with {'projectId': project.id}  %}
			</div>
        </section>
        
        <section id="contenuJeuDroite">
        
        	<div id="blocSoutenir">
            	<div class="caracteristiques">
                	<div class="infos">
                	<p class="styleNb">{{ project.edinautes|length }}</p>
                    <p class="styletexte">édinautes soutiennent ce jeu</p>
                    </div>
                    <a class="btn_user"></a>
                </div>
                <div class="caracteristiques">
                	<div class="infos">
                	<p class="styleNb">{{ project.funding }} €</p>
                    <p class="styletexte">récolté sur {{ project.fundingGoal }} € demandé</p>
                    </div>
                    <a class="btn_piggy"></a>
                </div>
                <div class="caracteristiques">
                	<div class="infos">
                	<p class="styleNb">{{ project.daysLeft }}</p>
                    <p class="styletexte">jours restants</p>
                    </div>
                    <a class="btn_clock"></a>
                </div>
				{% if project.funded == 0 %}
					<a class="btn_soutenir" href="{{ path('project_confirmation', {'id': project.rewardParDefaut.id}) }}"></a>
				{% else %}
					<a class="btn_merci" href="#"></a>
				{% endif %}
            </div>
            
 
            {# BLOC NON FINI D'INTEGRER ! A REVOIR QUAND ON VOUDRA LE METTRE EN LIGNE, BISOUS :)
				<div id="blocEditeur">
					<div id="img_nom">
						{% render "WittyUserBundle:Profile:avatar" with {'id': project.creator.id } %}
						<p class="texte_editeur">Un jeu de<a class="nom_editeur">{{ project.creator.firstname }} {{ project.creator.lastname }}</a></p>
					</div>
					<p class="texte_editeur">Adresse : <br/><br/>Téléphone :</p>
					<p class="texte_editeur">Site :<br/><br/>Facebook : <br/><br/>Twitter :</p>
					<div class="spacer"></div>
				</div>
             #}
            
			{% set linking = (project.funded == 0) %}
			{% render "WittyProjectBundle:Project:blocRewards" with {'project': project, 'linking': linking}  %}
			
        </section>
        <div class="spacer"></div>

    
    </div>
    
    
</div>


{% endblock %}

{% block javascripts %}
    {% javascripts 'bundles/wittyproject/js/*.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
	
	<script>
		$(document).ready(function(){

			$('a.btn_commenter').click(function()
			{
				var data = {
					content: $('textarea.commentaire').val(),
					projectId: {{ project.id }}
				};
			
				//Ajout du commentaire
				$.post("{{ path('project_addComment') }}", data, function(response){
						
					//Rechargement du bloc commentaires
					$('.blocComments').html(response);
				});
				
				$('#champs_commentaire textarea').val('');
			});
		});
	</script>
{% endblock %}
