{% extends "WittyProjectBundle::layout.html.twig" %}

{% block title %} {{ project.title }} - Jeu à soutenir sur My Witty Games {% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittyproject/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}

<div id="container">

	<div class="blocTitrePage">
    	<h1 class="titrePage titrePage_projet">{{ project.title }}</h1>
        <p class="descriptionPage descriptionPage_projet">{{ project.shortDescription }}</p>
    </div>
    
 	<nav>
		<ul id="onglets">
			<li class="actif">
				Accueil
			</li>
			<li>
				News
				{% if project.news|length > 0 %}
					({{ project.news|length }})
				{% endif %}
			</li>
			<li>
				Édinautes
				{% if edinautes|length > 0 %}
					({{ edinautes|length }})
				{% endif %}
			</li> 
			<li>
				Commentaires
				{% if project.comments|length > 0 %}
					({{ project.comments|length }})
				{% endif %}
			</li>
		</ul>  
	</nav> 

    <span class="flecheMenu"></span>

    <div id="blocContenuJeu">
    
    	<section class="item">
			{{ project.description|raw }}
        </section>
        
        <section class="item">
			{% if news|length > 0 %}
				{% for new in news %}
					<article>
						<p class="soustitre">{{ new.title }}</p>
						<p class="texte">{{ new.content|raw }}</p>
					</article>
					<br/><br/>
				{% endfor %}
			{% else %}
				<p class="texte">Il n'y a pas encore de news sur ce jeu.</p>
			{% endif %}
		</section>
        
        <section class="item">
            <p class="texte titre_edinautes">
				Voici la liste des édinautes qui soutiennent ce projet. <br/>
				{% if project.funded == 0 %}
					Vous désirez les rejoindre ? Cliquez sur le bouton "<a class="texte_bleu" href="{{ path('project_confirmation', {'id': project.rewardParDefaut.id}) }}">Soutenir ce jeu</a>" !
				{% endif %}
			</p>
			{# La bonne méthode est celle en commentaires, mais à cause d'un bug php, on doit passer par les ids des édinautes pour les récupérer. On ne peut donc pas les récupérer directement par le projet ... #}
			{# for edinaute in project.edinautes #}
			{% for edinaute in edinautes %}
				<div class="edinaute">
					{% render "WittyUserBundle:Profile:avatar" with {'id': edinaute.id } %}
					<p class="nom_edinaute">{{ edinaute.label }}</p>
					<p class="texte">a soutenu {{ edinaute.projectsFunded|length }} jeux</p>
				</div>
			{% endfor %}
        </section>
        
        <section class="item">
            <div id="commenter">
				{% if app.user %}
					<p class="texte">Publiez votre commentaire</p>
					<div id="champs_commentaire">
						<textarea class="commentaire"></textarea>
					</div>
					<a class="btn_commenter"></a>
					<div class="spacer"></div>
				{% else %}
					<p class="texte">Identifiez-vous pour laisser un commentaire.</p>
				{% endif %}
            </div>
			
			<div class="blocComments">
				{% render "WittyProjectBundle:Project:blocComments" with {'projectId': project.id}  %}
			</div>
        </section>
   		
		{% if project.id == 11 %} 
			<section id="contenuJeuDroite">
				<p class="texte">Chronos Conquest revient en 2013</p>
			</section>
		{% else %}		
			<section id="contenuJeuDroite">
				<div id="blocSoutenir">
					<div class="caracteristiques">
						<div class="infos">
						<p class="styleNb">{{ project.edinautes|length }}</p>
						<p class="styletexte">édinautes soutiennent ce jeu</p>
						</div>
						<a class="btn_user"></a>
					</div>
					<div class="caracteristiques">
						<div class="infos">
						<p class="styleNb">{{ project.funding }} €</p>
						<p class="styletexte">récoltés sur {{ project.fundingGoal }} € demandés</p>
						</div>
						<a class="btn_piggy"></a>
					</div>
					<div class="caracteristiques">
						<div class="infos">
							{% if project.funded %}
								<p class="styleNb edite">Edité</p>
							{% else %}
								<p class="styleNb">{{ project.timeLeft }}</p>
								<p class="styletexte">
									jour{% if project.timeLeft > 1 %}s{% endif %} restant{% if project.timeLeft > 1 %}s{% endif %}
								</p>
							{% endif %}
						</div>
						<a class="btn_clock"></a>
					</div>
					{% if project.funded == 0 %}
						<a class="btn_soutenir" href="{{ path('project_confirmation', {'id': project.rewardParDefaut.id}) }}"></a>
					{% else %}
						<a class="btn_merci" href="#"></a>
					{% endif %}
				</div>
				
				<a href="{{ project.buyLink }}"><img src="{{ url_asset('acheter_jeu', project.id, 'acheter.png') }}"/></a>
				<br/>
 
				{# BLOC NON FINI D'INTEGRER ! A REVOIR QUAND ON VOUDRA LE METTRE EN LIGNE, BISOUS :)
					<div id="blocEditeur">
						<div id="img_nom">
							{% render "WittyUserBundle:Profile:avatar" with {'id': project.creator.id } %}
							<p class="texte_editeur">Un jeu de<a class="nom_editeur">{{ project.creator.firstname }} {{ project.creator.lastname }}</a></p>
						</div>
						<p class="texte_editeur">Adresse : <br/><br/>Téléphone :</p>
						<p class="texte_editeur">Site :<br/><br/>Facebook : <br/><br/>Twitter :</p>
						<div class="spacer"></div>
					</div>
				 #}
				
				{% render "WittyProjectBundle:Project:blocRewards" with {'project': project}  %}
			
			</section>
		{% endif %}
		
        <div class="spacer"></div>

    
    </div>
    
    
</div>


{% endblock %}

{% block javascripts %}
    {% javascripts 'bundles/wittyproject/js/*.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
	
	<script>
		$(document).ready(function(){

			$('a.btn_commenter').click(function()
			{
				var data = {
					content: $('textarea.commentaire').val(),
					projectId: {{ project.id }}
				};
			
				//Ajout du commentaire
				$.post("{{ path('project_addComment') }}", data, function(response){
						
					//Rechargement du bloc commentaires
					$('.blocComments').html(response);
				});
				
				$('#champs_commentaire textarea').val('');
			});
		});
	</script>
{% endblock %}
