{% stylesheets 'bundles/wittyproject/css/*.css' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}

<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>


{# Projets pas encore entièrement financés #}
{% for project in projectsNotFunded %}

	{% if ((mode_affichage == 'focus_one_project' and loop.first) or (mode_affichage == 'not_funded_big') or (mode_affichage == 'all_projects_big')) and (not(mode_affichage == 'all_projects_small')) %}
		{% set affichage = 'grand' %}
	{% else %}
		{% set affichage = 'petit' %}
	{% endif %}
 
 	{% if loop.first %} <div class="ruban"></div> {% endif %}
	<a href="{{ path('project_display' , {'slug': project.slug} ) }}" 
		class="bloc_jeu {{affichage}}">
		<img class="img_jeu" src="{{ url_asset('project', project.id, project.image) }}" alt="Image du jeu"/>

		<div class="bloc_jeu_haut">
			<p class="titreJeu">{{ project.title }}</p>
			<p class="descriptionJeu">{{ project.shortDescription }}</p>
			<p class="texteJeu">{{ project.mediumDescription }}</p>
		</div>
		
		{% if project.id == 13 %}
			<div class="bloc_jeu_bas">
				<p class="texte" style="margin-top:30px; font-size:1.7em">Empathy : Girl Power arrive bientôt !</p>
			</div>
		{% else %}
			<div class="bloc_jeu_bas">
				<div class="bloc_caracteristiques">
					<p class="style_NBcaracteritiques">{{ project.edinautes|length }}</p>
					{% if affichage == 'grand' %}
						<p class="style_caracteristiques">édinautes<br/>soutiennent le jeu</p>
					{% endif %}
					<div class="img_user"></div>
				</div>
				<div class="bloc_caracteristiques">
					<p class="style_NBcaracteritiques">{{ project.funding }} €</p>
					{% if affichage == 'grand' %}
						<p class="style_caracteristiques">sur {{ project.fundingGoal|number_format(0, ',', ' ') }} €<br/>demandés</p>
					{% endif %}
					<div class="img_piggy"> </div>
				</div>
				<div class="bloc_caracteristiques">
					<p class="style_NBcaracteritiques">{{ project.timeLeft }}</p>
					{% if affichage == 'grand' %}					
						<p class="style_caracteristiques">jours<br/>restants</p>
					{% endif %}
					<div class="img_clock"></div>
				</div>
				<div class="spacer"></div>
			</div>
		{% endif %}
		
		<div class="spacer"></div>
	</a>

{% endfor %}

<div class="spacer"></div>

{# Projets à venir #}
{% if projectsComingSoon|length > 0 %}
	<p class="blocTitrePage2 titrePage titrePage_projet">Les projets à venir</p>
{% endif %}
{% for project in projectsComingSoon %}

	{% set affichage = 'petit' %}
	{% if affichage == 'petit' %}
		{% set url_image = project.imageSecondaire %}
	{% else %}
		{% set url_image = project.image %}
	{% endif %}

		<a class="bloc_jeu {{affichage}}">
			<img class="img_jeu" src="{{ url_asset('project', project.id, url_image) }}" alt="Image du jeu"/>

			<div class="bloc_jeu_haut">
				<p class="titreJeu">{{ project.title }}</p>
				<p class="descriptionJeu">{{ project.shortDescription }}</p>
			</div>
			<div class="bloc_jeu_bas">
				<div class="spacer"></div>
			</div>
			
			<div class="spacer"></div>
		</a>

{% endfor %}

<div class="spacer"></div>

{# Projets déjà financés #}
{% if mode_affichage == "all_projects_big" %} 

	<p class="blocTitrePage_jeux_edites titrePage titrePage_projet">Les projets déjà financés</p>
	<p class="descriptionPage descriptionPage_projet_financement">{{ fundsRaised|number_format(0, ',', ' ') }} € apportés par les édinautes pour soutenir 8 projets</p>
	{% for project in projectsFunded %}

		{% set affichage = 'petit' %}
		{% if affichage == 'petit' %}
			{% set url_image = project.imageSecondaire %}
		{% else %}
			{% set url_image = project.image %}
		{% endif %}

		<a href="{{ path('project_display' , {'slug': project.slug} ) }}" 
			class="bloc_jeu {{affichage}}">
			<img class="img_jeu" src="{{ url_asset('project', project.id, url_image) }}" alt="Image du jeu"/>

			<div class="bloc_jeu_haut">
				<p class="titreJeu">{{ project.title }}</p>
				<p class="descriptionJeu">{{ project.shortDescription }}</p>
			</div>
			<div class="bloc_jeu_bas">
				<div class="bloc_caracteristiques">
					<p class="style_NBcaracteritiques">{{ project.edinautes|length }}</p>
					{% if affichage == 'grand' %}
						<p class="style_caracteristiques">édinautes<br/>soutiennent le jeu</p>
					{% endif %}
					<div class="img_user"></div>
				</div>
				<div class="bloc_caracteristiques">
					<p class="style_NBcaracteritiques">{{ project.funding }} €</p>
					{% if affichage == 'grand' %}
						<p class="style_caracteristiques">sur {{ project.fundingGoal|number_format(0, ',', ' ') }} €<br/>demandés</p>
					{% endif %}
					<div class="img_piggy"> </div>
				</div>
				<div class="bloc_caracteristiques">
					{% if project.funded %}
						<p class="style_NBcaracteritiques">Edité</p>
					{% else %}
						<p class="style_NBcaracteritiques">{{ project.timeLeft }}</p>
						{% if affichage == 'grand' %}					
							<p class="style_caracteristiques">
								jour{% if project.timeLeft > 1 %}s{% endif %}
								<br/>
								restant{% if project.timeLeft > 1 %}s{% endif %}
							</p>
						{% endif %}
					{% endif %}
					<div class="img_clock"></div>
				</div>
				<div class="spacer"></div>
			</div>
			
			<div class="spacer"></div>
		</a>

	{% endfor %}
	<div class="spacer"></div>
	
{% endif %}

{% if mode_affichage == "not_funded_big" %}
	<a href="{{ path('project_accueil') }}"><p class="texte"><span class="texte_bleu">Cliquez ici</span> pour voir tous les projets</p></a>
{% endif %}