<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}My Witty Games{% endblock %}</title>
		
		{% stylesheets 
			'../app/Resources/public/css/reset.css' 
			'../app/Resources/public/css/*.css'
		%}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
        {% block stylesheets %} {% endblock %}
		
		{% javascripts '../app/Resources/public/js/*' %}
			<script src="{{ asset_url }}" type="text/javascript"></script>
		{% endjavascripts %}
		{# <script type="text/javascript">$.noConflict();</script> Si besoin est -> Ajout du mode no conflict de jquery pour garder la toolbar symfony #}
		
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

		<!-- Intégration de l'authentification facebook -->
		<script>
			//Script pour gérer la réponse de facebook à l'authentification
			function goLogIn(){
			  window.location = "{{ path('_security_check') }}";
			}

			function onFbInit() {
			  if (typeof(FB) != 'undefined' && FB != null ) {
				  FB.Event.subscribe('auth.statusChange', function(response) {
					  setTimeout(goLogIn, 500);
				  });
			  }
			}
		</script>
		{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
		<!-- Fin de l'intégration facebook -->
		
		
		<header>
			{% render "WittyBarBundle:Bar:display" %}
			{% render "WittyMenuBundle:Menu:display" %}
		</header>
        {% block content %}{% endblock %}
		<footer>
			{% render "WittyFooterBundle:Footer:display" %}
		</footer>
    
    
    
        {% if not(app.user) %}
		
			<div id="popup_login" class="popup login">
				<div id="login_normal">
					<div id="haut_popup">
						<a class="titre_popup">Se connecter</a>
						<a class="close">x</a>
					</div>
					<div class="champs_inscription">
						{% render "FOSUserBundle:Security:loginPopup" %}
					</div>
					<a class="texte_popuplogin3" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
				</div>
				<div id="login_facebook">
					<div id="haut_popup2">
						<p class="texte_popuplogin4">Ou connectez-vous avec Facebook</p>
					</div>
					{{ facebook_login_button({'autologoutlink': true}) }}
				</div>
			</div>
				
			<div id="popup_register" class="popup register" type_popup="register">
				<div id="login_normal">
					<div id="haut_popup">
						<a class="titre_popup">S'inscrire</a>
						<a class="close">x</a>
					</div>
						{% render "WittyUserBundle:Registration:register" %}
					<p class="texte_popuplogin5">En vous inscrivant, vous acceptez<br/> nos <a class="conditions">conditions d'utilisation</a></p>
				</div>
				<div id="login_facebook2">
					<div id="haut_popup2">
						<p class="texte_popuplogin4">Ou connectez-vous avec Facebook</p>
					</div>
					{{ facebook_login_button({'autologoutlink': true}) }}
				</div>
			</div>
			
		{% endif %}

		{% block javascripts %} {% endblock %}
			
    </body>
    
    
</html>
