<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}My Witty Games{% endblock %}</title>
		
		{% stylesheets 
			'../app/Resources/public/css/reset.css' 
			'../app/Resources/public/css/*.css'
		%}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
        {% block stylesheets %} {% endblock %}
		
		{% javascripts '../app/Resources/public/js/*' %}
			<script src="{{ asset_url }}" type="text/javascript"></script>
		{% endjavascripts %}
		{# <script type="text/javascript">$.noConflict();</script> Si besoin est -> Ajout du mode no conflict de jquery pour garder la toolbar symfony #}
		
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	
		<!-- Intégration de l'authentification facebook -->
		<script>
			//Script pour gérer la réponse de facebook à l'authentification
			function goLogIn(){
			  window.location = "{{ path('_security_check') }}";
			}

			function onFbInit() {
			  if (typeof(FB) != 'undefined' && FB != null ) {
				  FB.Event.subscribe('auth.statusChange', function(response) {
					  setTimeout(goLogIn, 500);
				  });
			  }
			}
		</script>
		{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
		<!-- Fin de l'intégration facebook -->
		
		
		<header>
			{% render "WittyBarBundle:Bar:display" %}
			{% render "WittyMenuBundle:Menu:display" %}
		</header>
        {% block content %}{% endblock %}
		<footer>
		</footer>

        {% block javascripts %} {% endblock %}
    </body>
</html>
