{% stylesheets 'bundles/wittyfooter/css/*.css' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}

<div id="footer">

<div id="footer1">
	<div class="bloc_footer11 filet_footer1">
		<div class="icon_cadena"></div>
		<p class="texte_footer1"> PAIEMENT SECURISE : </p>
		<div class="img_cb"></div>
	</div>
	{#
	<div class="bloc_footer1 filet_footer1">
		<div class="icon_livraison"></div>
		<p class="texte_footer1"> LIVRAISON EN 72H </p>
		<p class="texte_footer2"> Commande 24h/24 - 7j/7 </p>
	</div>
	#}
	<div class="bloc_footer12">
		<div class="icon_service"></div>
		<p class="texte_footer1"> SERVICE CLIENT : </p>
		<p class="texte_footer2">01 43 43 41 68 (prix d'un appel local) - contact@mywittygames.com</p>
	</div>
	{#
	<div class="bloc_footer1">
		<div class="icon_satisfait"></div>
		<p class="texte_footer1"> SATISFAIT OU REMBOURSE </p>
		<p class="texte_footer2"> Satisfait ou Remboursé </p>
		<p class="texte_footer2"> pendant 10 jours </p>
	</div>
	#}
</div>

<div class="spacer"></div>

<div id="footer2">
	<div class="footer_contenu">
		<div class="bloc_footer2">
			<p class="texte_footer3"> MY WITTY GAMES </p>
			<p class="texte_footer2">
				<a class="texte_footer_hover" href="{{ path('project_accueil') }}">Jeux</a>{# - <a class="texte_footer_hover">Boutique</a> #}
			</p>
			<p class="texte_footer2">
				<a class="texte_footer_hover" href="{{ path('mwg_presse') }}">Presse</a>
			</p>
			<p class="texte_footer2">
				<a class="texte_footer_hover" href="{{ path('mwg_partenaires') }}">Partenaires</a>
			</p>
			<p class="texte_footer2">
				{#<a class="texte_footer_hover" href="{{ path('project_accueil') }}">News</a> - <a class="texte_footer_hover">Partenaires</a> #}
			</p>
			{#
			<p class="texte_footer2">
				<a class="texte_footer_hover">L'équipe</a> - <a class="texte_footer_hover">Forum</a>
			</p>
			#}
			{#
			<p class="texte_footer3"> ESPACE PRO </p>
			<p class="texte_footer2">
				<a class="texte_footer_hover">Presse</a>
			</p>
			<p class="texte_footer2"> <a class="texte_footer_hover">Nous contacter</a> </p>
			#}
			<br/>
			<p class="texte_footer3"> AIDE </p>
			{#
			<p class="texte_footer2">
				<a class="texte_footer_hover">Comment ça marche : Edinautes</a>
			</p>
			#}
			<p class="texte_footer2">
				<a class="texte_footer_hover" href="{{ path('mwg_faq') }}">FAQ</a>
			</p>
		</div>
		
		<div class="bloc_footer2">
			<p class="texte_footer3"> INFOS LEGALES </p>
			<p class="texte_footer2">
				<a class="texte_footer_hover" href="{{ path('mwg_cgu') }}">Conditions Générales d'Utilisation</a>
			</p>
			<p class="texte_footer2">
				<a class="texte_footer_hover" href="{{ path('mwg_cgu_edinautes') }}">CGU Edinautes</a>
			</p>
			<p class="texte_footer2">
				<a class="texte_footer_hover" href="{{ path('mwg_mentionslegales') }}">Mentions Légales</a>
			</p>
		</div>
		
		<div class="bloc_footer2">
			<p class="texte_footer3"> MY WITTY GAMES SUR LE WEB </p>
			<a class="logo_facebook" href="{{ url_witty_facebook }}"></a>
			<a class="logo_twitter" href="{{ url_witty_twitter }}"></a>
			<a class="logo_dailymotion" href="{{ url_witty_dailymotion }}"></a>
		</div>
		
		<div class="bloc_footer2">
			<p class="texte_footer3"> REJOIGNEZ L'AVENTURE</p>
			<p class="texte_footer2"> My Witty Games vous propose une sélection rigoureuse de jeux de société testés par <br/>notre équipe ainsi que notre communauté <br/>de passionnés, avec la garantie qu'ils plairont à tous.<br/>Venez les soutenir et les aider à exister.</p>
			{# <div class="logo_footer" src="" alt=""></div> #}
		</div>	
	</div>
</div>

<div id="footer3">
	<div class="footer_contenu">
		<p class="copyright"> © 2012 MyWittyGames - Tous droits réservés </p>
	</div>
</div>

</div>


