{% extends "WittyMwgBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - L'édition participative{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittymwg/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
  
   <div class="blocTitreHome">
    	<p class="titrePage titrePage_home">Donner vie aux jeux</p>
        <p class="descriptionPage descriptionPage_home">Participez au financement de jeux de société et recevez des récompenses exclusives.<br/>Si un projet n'atteint pas son objectif, vous êtes remboursé sans frais.</p>
        <p class="infosPage_home">Actuellement 6 jeux ont été édité grâce aux édinautes. Rejoignez-les !</p>
        <img class="btn_sinscrireNow"/>
    </div>
    
<div id="container">

	<!-- Petit Challenge ! -->
	<!-- Modifications : Un seul bloc de code pour générer les différents projets -->
	<!-- On différencie les styles à appliquer grâce à une seule classe : bloc_jeu ou bloc_jeu_grand -->
	<!-- Dans le CSS, ça se traduit par des sélecteurs plus fins (2 classes pour chaque sélecteur) -->
	<!-- La syntaxe de sélecteur CSS .classe1.classe2 veut dire "l'élément qui possède la classe1 et la classe2" -->
	<!-- A ne pas confondre avec .classe1 .class2 qui veut dire "l'élément qui possède la class2 et qui est contenu dans un élément qui possède la classe1 -->
	<!-- Tous les blocs sont donc composés des 3 mêmes éléments : image, bloc haut, description, bloc caracteristiques -->
	<!-- Il faut terminer de les arranger en CSS + refactorer le code (mettre en commun toutes les propriétés qui peuvent l'être) : exemple les box-shadow de .bloc_jeu peuvent être mises dans -->
	<!-- les règles CSS associées au sélecteur .bloc_jeu -->
	<!-- De manière générale, quand les styles dépendent complètement d'un bloc, ça doit se refléter dans la CSS -->
	<!-- Ca fait pas mal de trucs à lire et un peu à refaire mais c'est très formateur -->
	
	{% for project in projects %}
	 
		<a href="{{ path('project_display' , {'slug': project.slug} ) }}" class="bloc_jeu {% if loop.first %}grand{% else %}petit{% endif %}">
			<img class="img_jeu" src="{{ project.image }}" alt=""/>
			<div class="bloc_jeu_haut">
				<p class="titreJeu">{{ project.title }}</p>
				<p class="descriptionJeu">{{ project.shortDescription }}</p>
                {% if loop.first %}
					<p class="texteJeu">{{ project.mediumDescription }}</p>
				{% endif %}
            </div>
			<div class="bloc_jeu_bas">
				<div class="bloc_caracteristiques">
					<p class="style_NBcaracteritiques">{{ project.edinautes|length }}</p>
					{% if loop.first %}
						<p class="style_caracteristiques">édinautes<br/>soutiennent le jeu</p>
					{% endif %}
					<img class="img_user"/>
				</div>
				<div class="bloc_caracteristiques">
					<p class="style_NBcaracteritiques">{{ project.funding }}</p>
					{% if loop.first %}
						<p class="style_caracteristiques">sur {{ project.fundingGoal|number_format(0, ',', ' ') }} €<br/>demandé</p>
					{% endif %}
					<img class="img_piggy"/>
				</div>
				<div class="bloc_caracteristiques">
					<p class="style_NBcaracteritiques">{{ project.daysLeft }}</p>
					{% if loop.first %}					
						<p class="style_caracteristiques">jours<br/>restants</p>
					{% endif %}
					<img class="img_clock"/>
				</div>
			</div>
			
			<div class="spacer"></div>
		</a>
	
	{% endfor %}
	
</div>
   
   
{% endblock %}
