{% extends "WittyMwgBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittymwg/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ parent() }} - L'édition participative{% endblock %}

{% block content %}
  
   <div class="blocTitreHome">
    	<p class="titrePage titrePage_home">Devenez co-éditeurs</p>
        <p class="descriptionPage descriptionPage_home">Participez au financement de jeux de société et recevez des récompenses exclusives.<br/>Si un projet n'atteint pas son objectif, vous êtes remboursé sans frais.</p>
        <p class="infosPage_home">Actuellement 7 jeux ont été édités grâce aux édinautes. <a href="{{ path('fos_user_security_login') }}" class="rejoignez_home">Rejoignez nos {{ members_count }} membres !</a></p>
        <a class="btn_sinscrireNow" href="{{ path('fos_user_security_login') }}"></a>
    </div>
	
	<div id="container">
		{% render "WittyProjectBundle:Project:projectsList" with {'mode_affichage': mode_affichage} %}
	</div>
   
   
{% endblock %}
