<div>
	{% for userReward in userRewards %}
	
		<p>{{ userReward.reward.project.title }} - {{ userReward.reward.title }}</p>
		<a style='margin-left:100px;float:left' href="{{ path('annuler_contrepartie', {'userRewardId': userReward.id}) }}"><p>Annuler cette contrepartie</p></a><br/>
		
		{% for userRewardOption in app.user.getUserRewardOptionsByRewardId(userReward.reward.id) %}
			
			<p>
				{{ userRewardOption.id}}<br/>
				{{ userRewardOption.rewardOption.title }}<br/>
			</p>
			
		{% endfor %}
	{% endfor %}
</div>