{% stylesheets 'bundles/wittymenu/css/*.css' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}

<div id="bandeauMenu">

<div class="container_bandeau">

	<div id="logomenu">    
		<a class="logo_mwg" href="{{ path('mwg_accueil') }}"> </a>
        <nav id="menu">
        	<ul>
        		<li> <a class="btn_decouvrir" href="{{ path('project_accueil') }}"> </a> </li> 
            	<li> <a class="btn_faq" href="{{ path('mwg_faq') }}"> </a> </li> 
                <li> <a class="btn_blog" href="{{ path('blog') }}"> </a> </li>
            </ul>       
        </nav>       
    </div>
    
    <div class="recherche">
		{#
        <form method="get" action="#">
				<input type="text" name="rechercher" placeholder="Recherche"/>
		</form>
		#}
    </div>
    
    <div id="logosociaux">
    	<a class="btn_facebook" href="{{ url_witty_facebook }}"> </a>
        <a class="btn_twitter" href="{{ url_witty_twitter }}"> </a>
        <a class="btn_dailymotion" href="{{ url_witty_dailymotion }}"> </a>    	         
    </div>
    
</div>    

</div>