{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittyuser/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
	{% if error %}
		<div>{{ error|trans({}, 'FOSUserBundle') }}</div>
	{% endif %}

	<div id="container">

		<div class="bloc">
		
			<a class="titre_popup bloc_titre">Se connecter</a>

			<form action="{{ path("fos_user_security_check") }}" method="post">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

				<label for="username">Adresse e-mail ou Pseudo :{# 'security.login.username'|trans({}, 'FOSUserBundle') #}</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="monmail@mail.com" />

				<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
				<input type="password" id="password" name="_password" placeholder="m•wyt•ygam•svous•im•" />

				<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
				<label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
				
				<a class="texte_popuplogin3" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
				<input type="submit" id="_submit" name="_submit" value=""/>
			</form>
			

		</div>
		
		<div class="bloc bloc2">
			<a class="titre_popup bloc_titre">S'inscrire</a>
			{% render "WittyUserBundle:Registration:register" %}
			<p class="texte_popuplogin5">En vous inscrivant, vous acceptez<br/> nos <a class="conditions">conditions d'utilisation</a></p>
		</div>
		
		<div class="bloc">
			<a class="titre_popup bloc_titre2">Se connecter<br/>avec FACEBOOK</a>
			{{ facebook_login_button({'autologoutlink': true}) }}
		</div>
		
		<div class="spacer"></div>

	</div>

{% endblock content %}
